body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(61, 22, 139);
}

h1, h2 {
    padding-left: 10px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 83vh;
}

.grid-item1 {
    background-color: rgb(61, 22, 139);
    padding-left: 10px;
    color: white;
    border-radius: 15px;
    border: 1px white solid;
}

.grid-item1 > h3 {
    text-align: center;
}

.grid-item1 > p {
    margin:15px ;
}

li {
    margin-bottom: 15px ;
}

.grid-item2 {
    background-color: white;
    padding-left: 10px;
    border-radius:15px ;
}